server:
  host: localhost
  port: 8062

context-path: "/api"

argo-workflows:
  url: https://localhost:2746
  namespace: "argo"

compchem:
  url: https://host-service.argo.svc.cluster.local:5000/api

migrations: "file://migrations"

postgres:
  host: localhost
  port: 6543
  database: fileprocessor
  auth:
    user: fileprocessor
    password: password123

workflows:
  - name: simulation-annotation
    filetype: application/octet-stream
    processing-templates:
      - name: simulation-annotation-template
        template: simulation-annotation
